In [11]:
import pandas as pd
import numpy as np

In [12]:
data=pd.read_csv('NISPUF17.csv', index_col=0)
data.head()

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [15]:
dict1 = {"less than high school":np.sum(data['EDUC1']==1)/len(data),
        "high school":np.sum(data['EDUC1']==2)/len(data),
        "more than high school but not college":np.sum(data['EDUC1']==3)/len(data),
        "college":np.sum(data['EDUC1']==4)/len(data)}
dict1

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [28]:
data.columns = [x.lower().strip() for x in data.columns]
data['cbf_01'].unique()

(data[data['cbf_01']==1]['p_numflu'].mean(),data[data['cbf_01']==2]['p_numflu'].mean())

(1.8799187420058687, 1.5963945918878317)

In [48]:
{'male': len(data[(data['sex']==1) & (data['had_cpox']==1) & (data['p_numvrc']>=1)])/len(data[(data['sex']==1) & (data['had_cpox']==2) & (data['p_numvrc']>=1)]),
 'female':len(data[(data['sex']==2) & (data['had_cpox']==1) & (data['p_numvrc']>=1)])/len(data[(data['sex']==2) & (data['had_cpox']==2) & (data['p_numvrc']>=1)])
}

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [66]:
data['sex'].unique()
data['had_cpox'].unique()

array([ 2,  1, 77, 99], dtype=int64)

In [65]:
data['p_numvrc'].unique()

array([nan,  1.,  0.,  2.,  3.])

1         True
2         True
3         True
4        False
5        False
         ...
28461     True
28462     True
28463     True
28464     True
28465     True
Name: p_numvrc, Length: 28465, dtype: bool

In [75]:
import scipy.stats as stats
import numpy as np
import pandas as pd
data2 = data[(data['p_numvrc'].notna()) & (data['had_cpox'] != 77)  & (data['had_cpox'] != 99)]
data2

,seqnumc,seqnumhh,pdat,provwt_d,rddwt_d,stratum,year,agecpoxr,had_cpox,agegrp,...,xvrcty2,xvrcty3,xvrcty4,xvrcty5,xvrcty6,xvrcty7,xvrcty8,xvrcty9,ins_stat2_i,ins_break_i
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
8,182861,18286,1,313.225832,163.213401,1001,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
9,161121,16112,1,978.042448,718.616990,1016,2017,3.0,1,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28447,193801,19380,1,321.058203,110.009181,2047,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
28448,136841,13684,1,593.426753,337.255316,2031,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28450,132081,13208,1,166.681363,96.330007,2059,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28453,82151,8215,1,335.456813,159.895243,2056,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28455,191451,19145,1,59.626969,29.187316,2074,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0

In [76]:
corr, pval=stats.pearsonr(data2["had_cpox"],data2["p_numvrc"])
corr
pval

2.7780263182916748e-18